{% comment %} /sections/slideshow.liquid {% endcomment %}

{%- liquid
  assign transition = section.settings.transition
  assign autoplay = section.settings.autoplay
  assign duration = section.settings.duration | times: 1000
  assign enable_zoom_animation = section.settings.enable_zoom_animation
  assign slide_height = section.settings.slide_height
  assign enable_mobile_height = section.settings.enable_mobile_height
  assign mobile_slide_height = section.settings.mobile_slide_height
  assign slides_count = section.blocks.size
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#Slideshow--' | append: section.id
  assign animation_order = 1
  assign show_text_shadow = settings.show_text_shadow
  assign heading_size = section.settings.heading_size
  assign subheading_size = section.settings.subheading_size
  assign current_style = section.blocks[0].text_color | default: 'text-light'
%}

{%- style -%}
  #Slideshow--{{ section.id }} .slide__heading {
    font-size: {{ heading_size }}px;
  }
  #Slideshow--{{ section.id }} .slide__subheading {
    font-size: {{ subheading_size }}px;
  }
{%- endstyle -%}

<div
  class="slider slider--{{ transition }}{% if section.settings.show_arrow_down %} slider--has-arrow{% endif %}{% if section.settings.show_nav_dots %} slider--has-dots{% endif %}{% unless animations_enabled %} slider--no-animation{% endunless %}{% if img_in_class %} img-in{% endif %}"
  id="Slideshow--{{ section.id }}"
  data-slider
  data-section-type="slider"
  data-section-id="{{ section.id }}"
  data-slides-count="{{ section.blocks.size }}"
  data-current-style="{{ current_style }}"
  data-autoplay="{{ autoplay }}"
  data-duration="{{ duration }}"
  data-image-height="{{ slide_height }}"
  data-page-dots="{{ section.settings.show_nav_dots }}"
  data-nav-arrows="{{ section.settings.show_nav_arrows }}"
  data-zoom-animation="{{ enable_zoom_animation }}"
  data-slides="{{ slides_count }}"
  {% if animations_enabled and transition == 'fade' %}
    data-aos="fade-in"
    data-aos-anchor="{{ animation_anchor }}"
  {% endif %}
>
  {%- for block in section.blocks -%}
    {%- assign title = block.settings.title -%}
    {%- assign subheading = block.settings.subheading -%}

    <div class="slide__text__container">
      <h1 class="slide__heading">{{ title }}</h1>
      <p class="slide__subheading">{{ subheading }}</p>
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Slideshow",
  "settings": [
    {
      "type": "range",
      "id": "heading_size",
      "label": "Heading Font Size",
      "default": 36,
      "min": 36,
      "max": 72,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "subheading_size",
      "label": "Subheading Font Size",
      "default": 24,
      "min": 24,
      "max": 60,
      "step": 4,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "Image"
    }
  ]
}
{% endschema %}
